<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clevertapper">
    <!-- Required to allow the app to send events and user profile information -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Recommended so that CleverTap knows when to attempt a network call -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_ct"
        android:label="clevertap-3.6.2"
        android:roundIcon="@mipmap/ic_ct_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Branch URI scheme -->
            <intent-filter>
                <data android:scheme="clevertapper" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links (optional) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="9nc1d.app.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="W67-774-7Z5Z" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="4aa-a60" /> <!-- IMPORTANT: To force use Google AD ID to uniquely identify  users, use the following meta tag. GDPR mandates that if you are using this tag, there is prominent disclousure to your end customer in their application. Read more about GDPR here - https://clevertap.com/blog/in-preparation-of-gdpr-compliance/ -->
        <!-- replace below value with your FCM project number. -->
        <meta-data
            android:name="CLEVERTAP_USE_GOOGLE_AD_ID"
            android:value="1" />
        <meta-data
            android:name="FCM_SENDER_ID"
            android:value="id:84372680640" />

        <service android:name="com.clevertap.android.sdk.FcmTokenListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.clevertap.android.sdk.FcmMessageListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Notification -->
        <service
            android:name="com.clevertap.android.sdk.CTNotificationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.clevertap.PUSH_EVENT" />
            </intent-filter>
        </service> <!-- Push Amplification -->
        <meta-data
            android:name="CLEVERTAP_BACKGROUND_SYNC"
            android:value="1" /> <!-- use CTBackgroundIntentService to target users below Android 21 (Lollipop) -->
        <service
            android:name="com.clevertap.android.sdk.CTBackgroundIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.clevertap.BG_EVENT" />
            </intent-filter>
        </service> <!-- use CTBackgroundJobService to target users on and above Android 21 (Lollipop) -->
        <service
            android:name="com.clevertap.android.sdk.CTBackgroundJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- Small icon -->
        <meta-data
            android:name="CLEVERTAP_NOTIFICATION_ICON"
            android:value="ic_c" /> <!-- name of your file in the drawable directory without the file extension. -->
        <!-- name of your file in the drawable directory without the file extension. -->
        <!-- IN APP Noti -->
        <!-- <activity
             android:name="com.clevertap.android.sdk.InAppNotificationActivity"
             android:configChanges="orientation|keyboardHidden"
             android:theme="@android:style/Theme.Translucent.NoTitleBar"
             tools:replace="android:configChanges" />
         <meta-data
             android:name="CLEVERTAP_INAPP_EXCLUDE"
             android:value="YourSplashActivity1, YourSplashActivity2" />-->
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <!-- Branch init -->
        <!-- Branch init -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_naKGF0Y8CdstKeYpTYvDNebeyzmpXwjR" />
        <!-- Branch testing (TestMode "true" to simulate fresh installs on dev environment) -->
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="true" />
    </application>

</manifest>